@import "./utils/variables";
@import "./base/common";
@import "./components/logo";
@import "./components/button";
@import "./components/social-icon";
@import "./components/form";
@import "./layouts/main-nav.scss";
@import "./layouts/section.scss";
@import "./layouts/hero";



 .mail {
     display: flex;
     margin-left: auto;
 }
 .mail .item:not(:last-child){
    margin-right: 50px;
}
.social-mail-phone{
    display: flex;
    align-items: center;
}
.mail .link {
     color: $primary-text-color;
     letter-spacing: 0.02em;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;

     transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.mail .link:hover,
.mail .link:focus{
    color: $accent-color;  
}
.info{
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.mail .link:hover .info,
.mail .link:focus .info
{
    fill: $accent-color;
}

 .section.plus{
     padding-top: 94px;
     padding-bottom: 94px;
 }
 .features{
     display: flex;
     flex-wrap: wrap;
     justify-content:space-between;
 }
 .features .item::before{
     display: block;
     content: '';
     height: 120px;
     background-size: 70px;
     background-repeat: no-repeat;
     background-position: center;
     background-color: #F5F4FA;
     border-radius: 4px;
     margin-bottom: 30px;
     
  
 }
 .icon-antenna::before{
     background-image: url(../images/antenna.svg);

 }

 .icon-clock::before{
     background-image: url(../images/clock.svg);
 }
 .icon-diagram::before{
     background-image: url(../images/diagram.svg);
 }
 .icon-astrounaut::before{
     background-image: url(../images/astronaut.svg);
 }
 .features .item{
     width: 270px;
 }
.features .title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
 }
.features .text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 14px;
    line-height: 1.71;
}

.work{
    display: flex;
   }

.work .item:not(:last-child){
    margin-right: 30px;
 }

.work .item{
    position: relative;
}

.about-work-text{
    position: absolute;
bottom: 0;

    width: 370px;
    height: 70px;

background-color: rgba(47, 48, 58, 0.8);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

padding-top: 27px;
padding-bottom: 27px;

color: #FFFFFF;

}

 .section.operation{
     padding-bottom: 94px;
 }
 .section.job {
    padding-top: 94px;
    padding-bottom: 94px ;
    background-color: #F5F4FA;
    background-size: cover;
}
.company{
    display: flex;
    margin-top: 50px;
    
}
.company .item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF; 
    
}
.company .item:not(:last-child){
    margin-right: 30px;
      
}

.customer-icon-link{
    display: flex;
    height: 90px;
    width: 170px;
    justify-content: center; 
    align-items: center;
}

.name{
    text-align: center;
    /* border-radius: 0px 0px 4px 4px; */
    background: #FFFFFF;
    padding-top:30px ;
    padding-bottom: 30px;

}
.company-title {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.company-job {
    margin-top: 0px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
}
.section.client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/* .customer .item:not(:last-child){ */
    /* margin-right: 30px; */

.customer .item{
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
}


.post {
    padding-top: 60px;
    background-color: #2F303A;
}

.post-address:not(:last-child){
    margin-bottom: 9px;
}
.post-address:last-child{
    padding-bottom: 60px ;
}
.post-address:first-child{
margin-top: 20px;
}
.post-social{
    display: flex;
    flex: baseline;
}

.welcom{
    background-color: rgba(255, 255, 255, 0.1);
    
}

.post .title{
    color:#ffffff;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
    
}

.post-social-input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    color:#ffffff;

    padding-left: 16px;
}



.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);

    width: 528px;
height: 581px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}

.exit-modal{
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;

    padding: 0;
    border: 0;
}
.exit-modal:hover{
    fill: $accent-color;
}
.exit-modal:focus{
    fill: $accent-color;
}
.exit-modal{
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.back-modal{
    width: 30px;
height: 30px;
border-radius: 50%;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-text{
    position: absolute;
    top: 40px;
    left: 40px;
    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0,03em;
    text-align: center;
    
    color: #212121;
    
    }
    

    .picture{
        /* display: inline-block; */
        height: 18px;
        width: 18px;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);

    }
    
textarea{ 
    resize: none; 
 } 
    
.visually-hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.checkbox-policy{
    
    white-space: nowrap;

}
.policy-click{
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.checkbox-label span::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    margin-right: 7px;
    vertical-align: middle;
}
 
.checkbox:checked + span::before{
    background-color: $accent-color;
    border: 2px solid $accent-color;
    background-image: url(../images/Vector@2x.svg);
}

.address{
    color:#ffffff;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
 p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.address .link{
    margin-top: 9px;
    margin-bottom: 0px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.post-address:not(:last-child){
    margin-bottom: 9px;
}
.site-nav .current{
    color: $accent-color;
    }

.conteiner.project{
    padding-bottom: 94px;
    padding-top: 94px;
    margin-bottom: 0px ;
    margin-top: 0px;
}
.filtr-project{
    padding: 0px;
    border-radius: 4px;
    background: #F5F4FA;
    border: transparent;

}
.filtr-project :hover{
    background: $accent-color;
    color:#ffffff;
}
.filtr-project :hover .filtr-title{
    color: #FFFFFF;
}
.portfolio{
    border-top: 1px solid #ECECEC;
}
.filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filtr .item:not(:last-child){
margin-right: 8px;
}
 .filtr-title:hover{ 
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
     background-color: $accent-color 
 } 
.filtr-title{
    padding: 6px 22px;
    margin: 0px;
    
    transition-property: color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.card{
    padding: 20px 24px;
    
}

.example{
    display: flex;
    flex-wrap: wrap;
}
.example .item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    
    box-sizing: border-box;
   
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);

}
.about-example-work{
    position: relative;
    overflow: hidden;
}

.example-work-text{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
padding: 63px 24px;

transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);

background-color: rgba(33, 150, 243, 0.9);
letter-spacing: 0.03em;

color: #FFFFFF;

}

.example .item.tehno:hover .example-work-text{
    transform: translateY(0);
}

.example .item:nth-child(3n){
    margin-right: 0px;
}
.example .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.example-work{
    text-decoration: none;
}
.example .item:hover,
.example .item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.exit .item{
    transition-property: obox-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.example .title{
    margin-top: 0px;
    margin-bottom: 4px;
    
    color: $title-text-color;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.example > p {
    margin-top: 4px;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.86;
}
.filtr-title{
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
