.main-nav{
    display: flex;
    align-items: center;
  
}
.site-nav{
    display: flex;
    margin-left: 93px ;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: $accent-color; 
}
.site-nav .item{
    position: relative;
}
.info{
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.site-nav .current{
    color: $accent-color;
    }